html,body,h1,h2,h3,h4,p,div,a,ul,li,span{
    margin:0;
    padding:0;
}
body{
    position:relative;
}
#red{
    background:red;
    position:relative;
    height:12.666%;
}
#green{
    background:green;
    height:480px;
    position:relative;
    float:left;
    width:33.333%;
}
#blue{
    background:blue;
    height:480px;
    position:relative;
    float:right;
    width:33.333%;
}
#purple{
    background:purple;
    clear:both;
}
#yellow{
    background: yellow;
    height:480px;
    position:relative;
    float:left;
    width:33.333%;
}
.box{
    min-height:80px;
}
